@import'../abstract/variaveis';

#cupom{
    background-color: $cor-1;
    padding: 4rem;
    text-align: center;
    .texto{
        color: $cor-3;
        h2{
            margin: 2rem;
            font-size: $tamanho-texto*1.5;
        }
    }
    .inscricao{
        
        .input{
            margin: 0 auto;
            width: 575px;
            border-radius: 20px;
            border: 4px solid white;
            input{
                border-radius: 20px;
                width: 575px;
                height: 40px;
                border: none;
                outline: none;
                text-align: center;
                font-size: 26px;
            }
            &:hover, &:focus-within {
                box-shadow: 1px 1px 8px 1px $cor-3;
            }
        }
        button{
            text-transform: uppercase;
            margin: 1rem;
            width: 200px;
            border-radius: 10px;
            border: 2px solid $cor-4;
            background-color: $cor-4;
            font-weight: bolder;
            font-size: $tamanho-texto;
            color: white;
            transition: .5s;
            cursor: pointer;
            
            &:hover{
                border: 2px solid white;
                color: $cor-4;
                background-color: white;
                
            }
        }
    }
}